
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;700;900&display=swap');

/* 
---------- Common Style ------------- 
*/
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
   
}
a{
    text-decoration: none;
    color:  #424242;
}

.btn{
    background: #FF900E;
    border: 0;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 16px;
    padding: 18px 35px;
}

main{
    max-width: 1440px;
    margin: 0px auto;    
}

/* 
------- Head Section ---------  
*/
.head{
    background:rgba(255, 144, 14, 0.1);
}

/* 
--------- Nav Options ---------- 
*/

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}   

.nav-title{
    color: #131313;
    font-size: 40px;
}

.nav-options ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  
}

.nav-options li{
    margin-left: 2em;
    font-weight: 500;
    font-size: 18px;
    
}

/* 
------- Website Title Section -----------  
*/

.content-head{
    margin: 50px 530px;
    text-align: center;
}
.content-title{
    font-size: 50px;
}
.content-article{
    color: #727272;
}

.img-section{
    max-width: 1440px;
    margin: 0px auto;
    padding-bottom: 50px;
}


/* 
----------- Feature Container ------------
*/

.feature-container{
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 70px;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.feature-title{
    font-size: 45px;
    color: #727272;
    width: 468px;
    margin-bottom: 24px;

}

.text-primary{
    color: #131313;
}

.text-second{
    color:#FF900E;
}

.feature-content{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 537px;
}

/*--------
 Exprience Section  
 ------*/

.exprience{
    margin-top: 140px;
    display: flex;
    gap: 50px;
}

.ex-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.fa-solid{
    color:  #FF900E;
    font-size: 100px;
}

.ex-title{
    font-weight: 700;
    font-size: 45px;  
    padding: 5px;
    width: 450px;
    color: #131313;
}

.extitle-content{
    font-weight: 400;
font-size: 16px;
color: #727272;
width: 580px;
}

